<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-sm">
      <%= render 'shared/errors', obj: comment %>
      <%= form_for [post, comment] do |f| %>
        <div class="input-group">  
          <%= f.label :body, 'New Comment' %>
          <br>
          <%= f.text_area :body, size: "115x3", class: "form-control" %><br>
        </div>
        <br>
        <div class="input-group">
          <%= f.submit "Add comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>