<div class="row">
  <div class="col-xs-2">
    <div class="well well-sm text-center">
      <% if logged_in? %>
        <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true, class: "up_arrow" do %>
          <% if voted_for?("Post", post.id, true) %>
            <span class="glyphicon glyphicon-arrow-up" style="color: #2EB82E;"></span>
          <% else %>
           <span id="<%= post.slug %>_arrow_up" class="glyphicon glyphicon-arrow-up"></span>
          <% end %>
        <% end %>
        <br>
        <% end %>
        <span id="<%= post.slug %>_votes"><%= post.total_votes %> Votes</span>
        <% if logged_in? %>
        <br>
        <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
          <% if voted_for?("Post", post.id, false) %>
            <span class="glyphicon glyphicon-arrow-down" style="color: #CC0000;"></span>
          <% else %>
           <span id="<%= post.slug %>_arrow_down" class="glyphicon glyphicon-arrow-down"></span>
          <% end %>
        <% end %>
        <% end %>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="well">
      <%= render post.categories %>
      <small class="quiet pull-right text-right">Up Votes: <%= post.up_votes%><br>Down Votes: <%= post.down_votes%></small>
      <h4><%= link_to post.title, fix_url(post.url) %></h4>
      <p><%= post.description %></p>
      <p>
        <span class="quiet">Posted by <%= link_to post.creator.username, user_path(post.creator) %> on <%= fix_date(post.created_at) %></span>
      </p>
      <p>
        <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        </span>
        </small>
      </p>
    </div>
  </div>
</div>