<div class="row">
  <div class="col-xs-10 col-xs-offset-1 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by <%= post.creator.username %> on <%= fix_date(post.created_at) %></span>
    </p>
    <p>
      <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
      </small>
    </p>
  </div>
</div>
