<p class="pull-right">[<%= link_to "Edit this post", edit_post_path(@post) %>]</p>
<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>

<%= render 'post', post: @post %>


<hr style="text-align: center; width: 40%;"> 
<div class="row">
  <p class="col-xs-8 col-xs-offset-2 lead">
    <small>Comments</small>
  </p>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 well well-sm">
    <%= form_for [@post, @comment] do |f| %>
      <div class="input-group">  
        <%= f.label :body, 'New Comment' %>
        <br>
        <%= f.text_area :body, size: "75x3", class: "form-control" %><br>
      </div>
      <br>
      <div class="input-group">
        <%= f.submit "Add comment", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <% @post.comments.each do |comment| %>
    <div class="col-xs-8 col-xs-offset-2 well well-sm">
      <p><%= comment.body %></p>
      <p>
        <span class="quiet">Posted by <%= comment.creator.username %> at </span>
        <small><%= comment.created_at %></small>
      </p>
    </div>
  <% end %>
</div>