<p class="pull-right">[<%= link_to "Edit this post", edit_post_path(@post) %>]</p>
<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>

<%= render 'posts/post', post: @post %>


<hr style="text-align: center; width: 40%;"> 
<div class="row">
  <p class="col-xs-8 col-xs-offset-2 lead">
    <small>Comments</small>
  </p>
</div>

<%= render 'posts/comment_form', post: @post, comment: @comment %>

<%= render 'posts/comments', post: @post %>