<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'PostIt', root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <%= link_to '#', class: 'btn btn-sm dropdown-toggle', 'data-toggle' => 'dropdown' do %>
                        Categories <b class="caret"></b>
                    <% end %>

                    <ul class="dropdown-menu">
                        <% Category.all.sort_by!{ |e| e.name.downcase }.each do |cat| %>
                            <li><%= link_to cat.name, category_path(cat) %></li>
                        <% end %>
                        <% if logged_in? %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to(new_category_path) do %>
                                    <span class="glyphicon glyphicon-plus"></span> New Category
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </li>
                <% if logged_in? %>
                    <li><%= link_to 'New Post', new_post_path, class: "btn btn-sm" %></li>
                <% else %>
                    <li><%= link_to 'Log in', login_path, class: "btn btn-sm" %></li>
                    <li><%= link_to 'Register', register_path, class: "btn btn-sm" %></li>
                <% end %>
            </ul>
            <% if logged_in? %>
                <ul class="nav navbar-nav navbar-right">
                    <li><p>Hi <%= current_user.username %> (<%= link_to 'Log out', logout_path %>)</p></li>
                </ul>
            <% end %>
        </div>
    </div>            
</nav>